@import '../../variables.scss';

.service-container {
    padding: $margin-container $margin-container;


    .gender-box {
        height: 350px;
        margin-top: 20px;
        position: relative;

        &.male {
            background: url('https://cdn.jsdelivr.net/gh/kdhanush/zarah-images/assets/images/male.jpg') no-repeat;
            background-size: cover;
            min-width: 100%;
        }

        &.female {
            background: url('https://cdn.jsdelivr.net/gh/kdhanush/zarah-images/assets/images/female.jpg') no-repeat;
            background-size: cover;
            min-width: 100%;
        }

        p {
            position: absolute;
            left: 10px;
            bottom: 80px;
            color: #fff;
        }

        button {
            margin: 0;
            position: absolute;
            left: 10px;
            bottom: 10px;
            font-size: 1rem;
            font-family: "Roboto", serif;
            font-weight: 600;
            border: 2px solid #fff;
            @include color3;
        }

        .overlay {
            @include overlay;

            p {
                font-size: 24px;
            }
        }
    }

}

.ReactModalPortal {
    .ReactModal__Overlay {
        background-color: rgba(0, 0, 0, 0.75) !important;

        .ReactModal__Content {
            inset: auto !important;
            bottom: 0 !important;
            padding-bottom: 0px !important;

            .modal {
                h1 {
                    font-size: 24px;
                }

                button {
                    all: unset;
                    display: block;
                    width: 100%;
                    text-align: center;
                    border: 1px solid #000;
                    margin: 20px 0;
                    padding: 10px 0;

                    a {
                        text-decoration: none;
                        color: #000
                    }
                }

                .services-list {
                    margin: 20px;
                }

                .modal-heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}



@media only screen and (min-device-width: 768px) {
    .service-container {
        padding: 100px;

        h1 {
            font-size: 60px;
        }

        .para {
            font-size: 24px;
        }

        div {
            display: flex;
            gap: 50px;
            width: 100%;

            .gender-box {
                width: 50%;
                height: 600px;

                &.male {
                    min-width: auto;
                }

                &.female {
                    min-width: auto;
                }
            }
        }
    }

    .ReactModalPortal {
        .ReactModal__Overlay {
            .ReactModal__Content {
                inset: 40px !important;
                bottom: auto;
                width: 50%;
                height: 45%;
                top: 20% !important;
                left: 25% !important;
                padding-bottom: 0px !important;
            }
        }
    }
}