@import '../../variables.scss';

.hero-container {
    background: url('../../assets/image-folder/hero.JPG');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &.service {
        background: url('../../assets/images/serviceBg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.7;
        top: 0;
        left: 0;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0 $margin-container;
        position: relative;

        h2 {
            font-size: 36px;
            line-height: 1.3;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;

            strong {
                @include color3;
                text-transform: uppercase;
            }
        }

        h2,
        p {
            color: $color2;
        }
    }
}


@media only screen and (min-device-width: 768px) {
    .hero-container {
        height: 90vh;

        .hero-content {
            justify-content: flex-start;
            padding: 0 100px;
            margin-top: 100px;

            h2 {
                font-size: 70px;
            }

            p {
                font-size: 24px;
                width: 50%;
                margin: 30px 0;
            }

            a {
                width: 50%;
            }
        }
    }
}