@import '../../variables.scss';

.header-container {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;

    img {
        height: 80px
    }

    .web-view-links {
        display: none;
    }

    .mobile-view-links {
        display: block;
    }
}

@media only screen and (min-device-width: 768px) {
    .header-container {
        padding: 0 100px;
        padding-top: 30px;

        img {
            height: 130px;
        }

        .mobile-view-links {
            display: none;
        }

        .web-view-links {
            display: block;

            ul {
                display: flex;
                list-style: none;
                gap: 40px;

                li {
                    font-size: 24px;
                    color: #fff;
                    text-transform: uppercase;
                    cursor: pointer;
                }

                li:hover {
                    @include color3;
                }
            }
        }
    }
}