@import '../../variables.scss';

section {

    .gallery-container {
        background: url('https://cdn.jsdelivr.net/gh/kdhanush/zarah-images/assets/image-folder/about2.jpg');
        background-size: cover;
        color: #fff;
        padding: 20px $margin-container;
        position: relative;

        .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #000;
            opacity: 0.5;
            top: 0;
            left: 0;
        }

        h1 {
            font-size: 2em;
            text-align: left;
        }

        .gallery-box {
            margin: 20px 0px;
            border-radius: 20px;
            background-color: $color2;
        }

        .swiper {

            .swiper-button-prev::after {
                content: '';
                border: 2px solid #fff;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 5px;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                margin-left: -16px;
            }

            .swiper-button-next::after {
                content: '';
                border: 2px solid #fff;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 5px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                margin-right: -13px;
            }

            .swiper-pagination {
                bottom: 0;
            }

            .swiper-button-next,
            .swiper-button-prev {
                @include color3;
            }

            .swiper-pagination {
                &-bullet-active {
                    @include color3;
                    -webkit-background-clip: inherit;
                }
            }
        }

        .gallery-text-container {
            position: relative;
        }
    }
}

@media only screen and (min-device-width: 768px) {
    section {
        .gallery-container {
            display: flex;
            align-items: center;
            padding: 50px 100px;

            h1 {
                font-size: 60px;
                text-align: left;
            }

            p {
                font-size: 20px;
                width: 80%;
            }

            .gallery-box-container {
                width: 50%;
            }

            .gallery-box-container {
                width: 50%;

                div {
                    .swiper {
                        .swiper-wrapper {
                            margin-left: 200px;
                        }
                    }
                }
            }

            .gallery-text-container {
                order: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
            }
        }
    }
}