@import '../../variables.scss';

.footer-container {
  background-image: url('https://cdn.jsdelivr.net/gh/kdhanush/zarah-images/assets/image-folder/footer.jpg');
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.8;
  }

  .container {
    margin: auto;
    width: 100%;
    padding: 35px $margin-container 15px $margin-container;
    max-width: 100%;
    position: relative;

    .web-footer-row {
      display: none;
    }

    .mobile-view-row {

      display: flex;
      flex-wrap: wrap;

      .col:first-child {
        width: 100%;
        flex-grow: 1;
        margin-bottom: 15px;
        text-align: center;
        color: $color2;
        font-size: 2rem;
      }

      .col:nth-child(2) {
        width: 100%;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid #fff;
      }

      .col {
        flex-basis: auto;
        width: 50%;
        gap: 5px;

        .footer-items {
          margin-bottom: 10px;
          padding: 0 10px;

          .title {
            color: $color2;
            margin-bottom: 15px;
            font-size: 1.2rem;
            font-weight: 500;
          }

          ul,
          li {
            list-style: none;
            padding: 0px;
            margin: 0px;
            color: $color2;
            font-size: 1rem;

            a {
              text-decoration: none;
              color: $color2;
            }
          }
        }

        .logo {
          display: flex;
          justify-content: center;

          img {
            height: 150px;
          }
        }
      }
    }

    .bottom-container {

      border-top: 1px solid #fff;
      margin-top: 30px;

      .social-container {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .copyright {
        color: $color2;
        text-align: center;
        margin-top: 15px;

        p {
          font-size: .8rem;
        }

        span {
          color: #FDE08D;
        }
      }
    }

  }

}

@media only screen and (min-device-width: 768px) {

  .footer-container {

    .container {

      .mobile-view-row {
        display: none;
      }

      .web-footer-row {
        display: flex !important;
        flex-direction: column;

        .map-container {
          display: flex;
          align-items: center;
          justify-content: center;

          iframe {
            height: 300px;
            width: 900px;
          }
        }


        .footer-content {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .col {
          display: flex;
          width: 33%;
          justify-content: center;

          .footer-items {
            margin-bottom: 10px;
            padding: 0 10px;

            .title {
              color: $color2;
              margin-bottom: 15px;
              font-size: 1.2rem;
              font-weight: 500;
            }

            ul,
            li {
              list-style: none;
              padding: 0px;
              margin: 0px;
              color: $color2;
              font-size: 1rem;

              a {
                text-decoration: none;
                color: $color2;
              }
            }
          }
        }
      }
    }
  }
}