@import '../../variables.scss';

section {

    .testiomonial-container {
        padding: 20px $margin-container;
        background: radial-gradient(ellipse farthest-corner at right bottom,
                rgba(254, 219, 55, 1) 0%,
                rgba(253, 185, 49, 1) 8%,
                rgba(159, 121, 40, 1) 30%,
                rgba(138, 110, 47, 1) 40%,
                rgba(0, 0, 0, 0) 80%),
            radial-gradient(ellipse farthest-corner at left top,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 172, 1) 8%,
                rgba(209, 180, 100, 1) 25%,
                rgba(93, 74, 31, 1) 62.5%,
                rgba(93, 74, 31, 1) 100%);

        h1 {
            margin-bottom: 10px;
        }

        .testimonial-box {
            margin: 20px 0;
            border: none;
            padding: 20px;
            background-color: $color2;

            svg {
                rotate: 10deg;
            }

            .client-testimonial {
                margin: 10px 0;
            }

            .client-name {
                font-weight: bold;
            }
        }
    }
}