@import '../../variables.scss';

section {
    margin: 40px 0;

    .testiomonial-container {
        padding: 20px $margin-container;
        background: radial-gradient(ellipse farthest-corner at right bottom,
                rgba(254, 219, 55, 0.5) 0%,
                rgba(253, 185, 49, 0.5) 8%,
                rgba(159, 121, 40, 0.5) 30%,
                rgba(138, 110, 47, 0.5) 40%,
                rgba(0, 0, 0, 0) 80%),
            radial-gradient(ellipse farthest-corner at left top,
                rgba(255, 255, 255, 0.5) 0%,
                rgba(255, 255, 172, 0.5) 8%,
                rgba(209, 180, 100, 0.5) 25%,
                rgba(93, 74, 31, 0.5) 62.5%,
                rgba(93, 74, 31, 0.5) 100%);

        h1 {
            margin-bottom: 10px;
        }

        .testimonial-box {
            margin: 20px 0;
            border: 1px solid #000;
            padding: 20px;

            svg {
                rotate: 10deg;
            }

            .client-testimonial {
                margin: 10px 0;
            }

            .client-name {
                font-weight: bold;
            }
        }
    }
}