@import '../../variables.scss';

section {

    .testiomonial-container {
        padding: 20px $margin-container;

        h1 {
            margin-bottom: 10px;
            font-size: 32px;
        }

        .testiomonial-box-container {
            display: flex;
            width: 100%;
            justify-content: center;

            .swiper {
                width: 100%;
            }
        }

        .testimonial-box {
            margin: 20px 0;
            padding: 0px 40px;
            background-color: $color2;
            text-align: center;

            svg {
                rotate: 10deg;
            }

            .client-testimonial {
                margin: 10px 0;
            }

            .client-name {
                font-weight: bold;
            }
        }

        .swiper {

            .swiper-button-prev::after {
                content: '';
                border: 2px solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 5px;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                margin-left: -16px;
            }

            .swiper-button-next::after {
                content: '';
                border: 2px solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 5px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                margin-right: -13px;
            }

            .swiper-pagination {
                bottom: 0;
            }

            .swiper-button-next,
            .swiper-button-prev {
                @include color3;
            }

            .swiper-pagination {
                &-bullet-active {
                    @include color3;
                    -webkit-background-clip: inherit;
                }
            }
        }
    }
}

@media only screen and (min-device-width: 768px) {
    section {
        .testiomonial-container {
            padding: 100px;

            .test-desc {
                width: 50%;
            }

            .testiomonial-box-container {
                .testimonial-box {
                    padding: 40px;
                }

                .swiper {
                    width: 60%;
                }
            }

            h1 {
                font-size: 60px;
            }

            p {
                font-size: 20px;
            }
        }
    }
}