@import '../../variables.scss';

section {

    .testiomonial-container {
        padding: 20px $margin-container;

        h1 {
            margin-bottom: 10px;
        }

        .testimonial-box {
            margin: 20px 0;
            border: 1px solid #000;
            padding: 20px;
            background-color: $color2;

            svg {
                rotate: 10deg;
            }

            .client-testimonial {
                margin: 10px 0;
            }

            .client-name {
                font-weight: bold;
            }
        }

        .swiper {

            .swiper-button-prev::after {
                content: '';
                border: 2px solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 5px;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                margin-left: -16px;
            }

            .swiper-button-next::after {
                content: '';
                border: 2px solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 5px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                margin-right: -13px;
            }

            .swiper-pagination {
                bottom: 0;
            }

            .swiper-button-next,
            .swiper-button-prev {
                @include color3;
            }

            .swiper-pagination {
                &-bullet-active {
                    @include color3;
                    -webkit-background-clip: inherit;
                }
            }
        }
    }
}