@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: $main-font;
  overflow-x: hidden;
}

body {
  line-height: 1.7;
}

p {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1rem;
}

img {
  max-width: 100%;
  display: block;
}

#whatsapp {
  position: fixed;
  z-index: 999;
  bottom: 25px;
  left: 10px;
}