@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

$main-font: "Jost", sans-serif;
$color1: #000;
$color2: #fff;

@mixin color3 {
    background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
    background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

$margin-container: 30px